[include mainsail.cfg]
[include filament.cfg]
[include print_control.cfg]


# ==========================================================================================
# ============= Macros =====================================================================
# ==========================================================================================

[gcode_macro START_PRINT]
default_parameter_BED_TEMP: 60
default_parameter_EXTRUDER_TEMP: 210
gcode:
    # Start bed heating
    #M140 S{BED_TEMP}
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    # SET_GCODE_OFFSET Z=-0.15
    # Home the printer
    G28
    # Move the nozzle near the bed
    G1 Z5 F3000
    # Move the nozzle very close to the bed
    G1 Z0.15 F300
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F300
    # Raise nozzle by 10mm
    G1 Z10 F3000
    G90
    
    # Home X and Y axis, so the printhead is as far from the print as possible, in case it decides to drop (it's a thing with Voron SW).
    # Also, this moves heatbed to the front, which is handy.
    G28 X
    G28 Y
    
    # Disable steppers
    M84


[gcode_macro lights_on]
gcode:
    SET_PIN PIN=LIGHTS VALUE=1.0

[gcode_macro lights_off]
gcode:
    SET_PIN PIN=LIGHTS VALUE=0.0

[pause_resume]

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
default_parameter_X: 230
default_parameter_Y: 230
default_parameter_Z: 10
gcode:

    M104 S0     # Turn off extruder 
    M140 S0     # Turn off heatbed heater          
    # M141 S0   # Turn off chamber heater
    M106 S0     # Turn off heatbed heater
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
default_parameter_X: 230
default_parameter_Y: 230
default_parameter_Z: 10
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-1.7 F2100
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F6000
    G91

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    G91
    G1 E1.7 F2100
    G91
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME

[gcode_macro DISABLE_MOTORS]
gcode:
    M18
    
     
# ==========================================================================================
# ============= Heatbed and homing =========================================================
# ==========================================================================================    

[heater_bed]
heater_pin: P2.5
sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.25
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[homing_override]
axes: z
set_position_z: 0
gcode:
    G90
    G0 Z5 F500
    G28 X0 Y0
    G0 X125 Y100 F9000
    G28 Z0
    G0 Z5 F500

[bed_mesh]
speed: 150
horizontal_move_z: 5
mesh_min: 25,35.0
mesh_max: 225.0,220
probe_count: 6,6
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0  

[probe]
pin: ^P1.27
x_offset: 0.0
y_offset: 25.0
#z_offset: 1.85
speed: 40
  

# ==========================================================================================
# ============= Printhead ==================================================================
# ========================================================================================== 
    
[extruder]
max_extrude_only_distance: 100.0
step_pin: P2.6
dir_pin: !P2.7
enable_pin: !P0.4
microsteps: 32
#rotation_distance: 33.500
step_distance: 0.00119
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.3
pressure_advance: 0.045
pressure_advance_smooth_time: 0.040
sensor_type: ATC Semitec 104GT-2
#sensor_type: EPCOS 100K B57560G104F
#sensor_type: NTC 100K beta 3950
sensor_pin: P0.24
#control = pid
#pid_kp = 18.973
#pid_ki = 0.771
#pid_kd = 116.683
min_temp: 0
max_temp: 270
min_extrude_temp: 170

[tmc2209 extruder]
uart_pin: P0.5
run_current: 0.7
hold_current: 0.3
interpolate: True

[fan]
pin: P2.2

[heater_fan heatbreak_fan]
pin: P2.1
max_power: 1.0
kick_start_time: 0.100
heater: extruder
heater_temp: 50.0
fan_speed: 1.0


# ==========================================================================================
# ============= Misc =======================================================================
# ==========================================================================================

[printer]
kinematics: corexz
max_velocity: 300
max_accel: 2400
max_accel_to_decel: 1200
max_z_velocity: 300
max_z_accel: 2400
square_corner_velocity: 4.0

[virtual_sdcard]
path: /home/pi/sdcard

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_0CA0FF0DC09869AF45C8405EC22000F5-if00

[display]
#    mini12864 LCD Display
lcd_type: uc1701
cs_pin: P0.16
a0_pin: P0.19
rst_pin:  P0.18
#beep: P0.15
encoder_pins: ^P0.28, ^P2.8
click_pin: ^!P0.20
contrast: 63

spi_software_sclk_pin: P0.11
spi_software_mosi_pin: P0.27
spi_software_miso_pin: P0.10

[neopixel fysetc_mini12864]
pin: P0.17
chain_count: 3
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 0.0
color_order: RGB

[static_digital_output tmc_standby_pins]
pins: !P3.26, !P3.25, !P1.18, !P1.19, !P2.13

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P2.8,  EXP1_3=P0.19, EXP1_5=P0.20, EXP1_7=P0.17, EXP1_9=<GND>,
    EXP1_2=P0.16, EXP1_4=<RST>, EXP1_6=P0.15, EXP1_8=P0.18, EXP1_10=<5V>

[controller_fan my_controller_fan]
pin: P2.4
max_power: 0.5
#shutdown_speed:
cycle_time: 0.10
#kick_start_time: 0.100
off_below: 0.2
fan_speed: 0.3
#idle_timeout: 30
#idle_speed:
#heater:
#   Name of the config section defining the heater that this fan is
#   associated with. If a comma separated list of heater names is
#   provided here, then the fan will be enabled when any of the given
#   heaters are enabled. The default is "extruder".

#[moonraker]
#trusted_clients:
#    192.168.1.0/24


# ==========================================================================================
# ============= Motors =====================================================================
# ==========================================================================================

[stepper_x]
step_pin: P1.4
dir_pin: P1.8
enable_pin: !P1.0
microsteps: 16
rotation_distance: 40
endstop_pin: ^P1.29
position_endstop: 250
position_min: 0
position_max: 250
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: P1.1
#diag_pin: P1.29
run_current: 0.5
hold_current: 0.3
interpolate: True
stealthchop_threshold: 250

[stepper_y]
step_pin: P1.14
dir_pin: P1.15
enable_pin: !P1.9
microsteps: 16
rotation_distance: 40
endstop_pin: ^P1.28
position_endstop: 240
position_min: 0
position_max: 240
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: P1.10
#diag_pin: P1.28
run_current: 0.5
hold_current: 0.3
interpolate: True
stealthchop_threshold: 250

[stepper_z]
step_pin: P4.29
dir_pin: P4.28
enable_pin: !P1.16
microsteps: 16
rotation_distance: 40
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0.0
position_max: 250
homing_speed: 50

[tmc2209 stepper_z]
uart_pin: P1.17
#diag_pin: P1.27
run_current: 0.5
hold_current: 0.3
interpolate: True
stealthchop_threshold: 250


# ==========================================================================================
# ============= Autogenerated ==============================================================
# ==========================================================================================

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.100000, -0.050000, 0.012500, -0.037500, 0.025000, 0.012500
#*# 	  -0.037500, 0.025000, 0.025000, -0.012500, 0.012500, -0.012500
#*# 	  -0.012500, 0.050000, 0.037500, -0.000000, 0.012500, 0.025000
#*# 	  -0.012500, 0.025000, 0.025000, -0.025000, -0.050000, 0.025000
#*# 	  -0.037500, 0.050000, 0.025000, -0.012500, 0.012500, 0.050000
#*# 	  -0.100000, -0.012500, -0.050000, -0.050000, -0.037500, 0.025000
#*# tension = 0.2
#*# min_x = 25.0
#*# algo = bicubic
#*# y_count = 6
#*# mesh_y_pps = 2
#*# min_y = 35.0
#*# x_count = 6
#*# max_y = 220.0
#*# mesh_x_pps = 2
#*# max_x = 225.0
#*#
#*# [probe]
#*# z_offset = 3.300 # larger value means nozzle closer to the bed
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.363
#*# pid_ki = 1.234
#*# pid_kd = 120.302
