[heater_bed]
heater_pin: PC15
# sensor_type: NTC 100K beta 3950
sensor_type: NTC 100K MGB18-104F39050L32 ; Keenovo heater pad
sensor_pin: PC3
smooth_time: 3.0
max_power: 0.6
control: pid
min_temp: 0
max_temp: 120
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

[homing_override]
axes: z
set_position_z: 0
gcode:
   G90
   G0 Z5 F600
   G28 X Y
   G0 X30 Y0 F3600 
   
   G28 Z
   G0 Z10 F1800
   G0 X60 Y60 Z20 F3600

# Tool to help adjust bed leveling screws. One may define a
# [bed_screws] config section to enable a BED_SCREWS_ADJUST g-code
# command.
[bed_screws]
screw1: 60,5
screw1_name: front screw
screw2: 5,115
screw2_name: back left
screw3: 115,115
screw3_name: back right