[heater_bed]
heater_pin: z:P2.3
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950
sensor_pin: z:P0.25

[extruder]
heater_pin: nhk:gpio9
sensor_pin: nhk:gpio29
sensor_type: ATC Semitec 104GT-2 ; Trianglelabs
pullup_resistor: 2200