[neopixel fysetc_mini12864]
#  Index 1 = display, Index 2 and 3 = Knob
pin: P1.21
color_order: RGB

[neopixel sb_leds]
#  Index 1 = logo, Index 2 = right nozzle LED, and 3 = left nozzle LED
pin: nhk:gpio7
chain_count: 3
color_order: GRBW