#####################################################################
#   X/Y Stepper Settings
#####################################################################

[stepper_x]
step_pin: P2.2
dir_pin: P2.6
enable_pin: !P2.1
rotation_distance: 40
microsteps: 32

[tmc2209 stepper_x]
uart_pin: P1.10
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


[stepper_y]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
rotation_distance: 40
microsteps: 32

[tmc2209 stepper_y]
uart_pin: P1.9
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
[stepper_z]
step_pin: z:P2.2
dir_pin: z:P2.6
enable_pin: !z:P2.1
rotation_distance: 40
gear_ratio: 80:20
microsteps: 128
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: z:P1.10
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 99999

##  Z1 Stepper - Rear Left
[stepper_z1]
step_pin: z:P0.19
dir_pin: !z:P0.20
enable_pin: !z:P2.8
rotation_distance: 40
gear_ratio: 80:20
microsteps: 128

[tmc2209 stepper_z1]
uart_pin: z:P1.9
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 99999

##  Z2 Stepper - Rear Right
[stepper_z2]
step_pin: z:P0.22
dir_pin: z:P2.11
enable_pin: !z:P0.21
rotation_distance: 40
gear_ratio: 80:20
microsteps: 128

[tmc2209 stepper_z2]
uart_pin: z:P1.8
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 99999

##  Z3 Stepper - Front Right
[stepper_z3]
step_pin: z:P2.13
dir_pin: !z:P0.11
enable_pin: !z:P2.12
rotation_distance: 40
gear_ratio: 80:20
microsteps: 128

[tmc2209 stepper_z3]
uart_pin: z:P1.4
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 99999

#####################################################################
#   Extruder Stepper Settings
#####################################################################
[extruder]
step_pin: nhk:gpio23
dir_pin: nhk:gpio24
enable_pin: !nhk:gpio25
rotation_distance: 47.088   # Galileo 2
gear_ratio: 9:1             # Galileo 2
microsteps: 16

[tmc2209 extruder]
sense_resistor: 0.100
uart_pin: nhk:gpio0
tx_pin: nhk:gpio1
interpolate: false
run_current: 0.6         # recommend setting it below 0.7A LDO Galileo 2 kit.
