[gcode_macro PAUSE]
rename_existing: BASE_PAUSE

gcode:
    {% set X = params.X|default(0) %}
    {% set Y = params.Y|default(0) %}
    {% set Z = params.Z|default(20) %}
    {% set E = params.E|default(5) %}
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    USE_RELATIVE_COORDS
    ;G91
    RETRACT ;DELTA={E}
    #G1 E-{E} F2100
    G1 Z{Z}
    USE_ABSOLUTE_COORDS
    ;G90
    G1 X{X} Y{Y} ;F6000