[gcode_macro PRINT_END]
gcode:
    MESSAGE TEXT='Ending print...'
    #G92 E0                         ; zero the extruder
    #G1 E-4.0 ;F3600                 ; retract filament
    #G91                            ; relative positioning
    USE_RELATIVE_COORDS
    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    {% set park_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set park_y = printer.configfile.config["stepper_y"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 30) %}
        {% set z_safe = 30.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    FLUSH_GCODE_BUFFER
    RETRACT
    #SET_POSITION AXIS='E' POSITION=0
    #G92 E0                         ; zero the extruder
    
    #MOVE_LINEAR AXIS='E' POSITION=-15
    ;G1 E-15.0 F1800                 ; retract filament

    G0 Z{z_safe} F3600             ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000  ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    USE_ABSOLUTE_COORDS
    G0 X{park_x} Y{park_y} F3600   ; park nozzle at rear

    # The purpose of the SAVE_GCODE_STATE/RESTORE_GCODE_STATE
    # command pair is to restore the printer's coordinate system
    # and speed settings since the commands above change them.
    # However, to prevent any accidental, unintentional toolhead
    # moves when restoring the state, explicitly set MOVE=0.
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0

    MESSAGE TEXT='Done!'