[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    {% set E = params.E|default(5) %}
    ;USE_RELATIVE_COORDS
    ;G91
    ;G1 E{E} F2100
    EXTRUDE; DELTA={E}
    USE_ABSOLUTE_COORDS
    ;G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    EXTRUDE; DELTA={E}
    BASE_RESUME