[extruder]

nozzle_diameter: 0.500
filament_diameter: 1.75
min_temp: 0
max_temp: 270
min_extrude_temp: 140
pressure_advance: 0.035
max_extrude_cross_section: 5

# These can be over-ruled with SAVE_CONFIG in printer.cfg
control: pid
pid_kp: 26.547
pid_ki: 1.351
pid_kd: 130.412