[resonance_tester]
accel_per_hz: 100
sweeping_accel: 400
sweeping_period: 0

probe_points:
    155, 155, 20

[input_shaper]
# These can be over-ruled with SAVE_CONFIG in printer.cfg
shaper_type_x: mzv
shaper_freq_x: 56.6
shaper_type_y: mzv
shaper_freq_y: 40.6