[output_pin lights]
pin: P2.7
pwm: True
value: 0.01
shutdown_value: 0.0
cycle_time: 0.0100

[gcode_macro LIGHTS_ON]
gcode:
    SET_PIN PIN=lights VALUE=1.0

[gcode_macro LIGHTS_OFF]
gcode:
    SET_PIN PIN=lights VALUE=0.0

[gcode_macro black_out]
gcode:
    LIGHTS_OFF
#    SET_LED led=bed_pixel red=0.0 green=0.0 blue=0.0
#    SET_LED led=displayStatus red=0.0 green=0.0 blue=0.0