# ================================ #
# ===== Random =================== #
# ================================ #
[gcode_macro MESSAGE]
gcode:
   {% set message = params.TEXT|default(0)|string %}
   FLUSH_GCODE_BUFFER
   M117 {message}
   {action_respond_info(message)}

[gcode_macro DISABLE_MOTORS]
gcode:
    M18

[save_variables]
filename: ~/printer_data/config/variables.cfg

[virtual_sdcard]
path: /home/pi/printer_data/gcodes

[display_status]

[pause_resume]

[gcode_macro USE_ABSOLUTE_COORDS]
gcode:
    G90

[gcode_macro USE_RELATIVE_COORDS]
gcode:
    G91

[gcode_macro HOME]
gcode:
    {% set axes = params.AXES|default("XYZ")|string %}
    {% if "XY" in axes %}
        MESSAGE TEXT="Homing XY"
        G28 XY
    {% else %}
        {% if "X" in axes %}
            MESSAGE TEXT="Homing X"
            G28 X
        {% endif %}
        {% if "Y" in axes %}
            MESSAGE TEXT="Homing Y"
            G28 Y
        {% endif %}
    {% endif %}

    {% if "Z" in axes %}
        MESSAGE TEXT="Homing Z"
        G28 Z
    {% endif %}

[gcode_macro HEAT_NOZZLE]
gcode:
    {% set temperature = params.TEMPERATURE|default(0)|float %}
     M104 S{temperature}

[gcode_macro HEAT_BED]
gcode:
    {% set temperature = params.TEMPERATURE|default(0)|float %}
     M140 S{temperature}

[gcode_macro FLUSH_GCODE_BUFFER]
gcode:
    M400

[gcode_macro SET_POSITION]
gcode:
    {% set axis = params.AXIS|default(0)|string %}
    {% set position = params.POSITION|default(0)|float %}
    G92 {axis}{position}

[gcode_macro SET_FEEDRATE]
gcode:
    {% set feedrate = params.VALUE|default(0)|string %}
    USE_RELATIVE_COORDS
    G1 X0 F{feedrate}

[gcode_macro MOVE_LINEAR]
gcode:
    {% set axis = params.AXIS|default(0)|string %}
    {% set position = params.POSITION|default(0)|float %}
    G1 {axis}{position}

[gcode_macro MOVE_TO]
gcode:
    {% set axis = params.AXIS|default(0)|string %}
    {% set position = params.POSITION|default(0)|float %}
    USE_ABSOLUTE_COORDS
    MOVE_LINEAR AXIS={axis} POSITION={position}

[gcode_macro MOVE_BY]
gcode:
    {% set axis = params.AXIS|default(0)|string %}
    {% set delta = params.DELTA|default(0)|float %}
    USE_RELATIVE_COORDS
    MOVE_LINEAR AXIS={axis} POSITION={delta}

[gcode_macro MOVE_RELATIVE_E]
gcode:
    {% set delta = params.DELTA|default(0)|float %}
    USE_RELATIVE_COORDS
    G1 E{delta}
    
[gcode_macro RESET_POSITION_E]
gcode:
    SET_POSITION AXIS='E' POSITION=0

[gcode_macro EXTRUDE]
gcode:
    {% set delta = params.DELTA|default(25)|float %}
    MOVE_RELATIVE_E DELTA={delta}

[gcode_macro RETRACT]
gcode:
    {% set delta = params.DELTA|default(25)|float %}
    MOVE_RELATIVE_E DELTA=-{delta}

[gcode_macro TURN_OFF_PART_FAN]
gcode:
    M107


# ================================ #
# ===== Menus ==================== #
# ================================ #

# Disabling Menu items I do not need anymore
[menu __main __octoprint]
type: disabled

[menu __main __filament __loadf]
type: disabled

[menu __main __filament __loads]
type: disabled

[menu __main __filament __unloadf]
type: disabled

[menu __main __filament __unloads]
type: disabled

[menu __main __filament __feed]
type: disabled

[menu __main __temp __preheat_pla]
type: disabled

[menu __main __temp __preheat_pla __all]
type: disabled

[menu __main __temp __preheat_pla __hotend]
type: disabled

[menu __main __temp __preheat_pla __hotbed]
type: disabled

[menu __main __temp __preheat_abs]
type: disabled

[menu __main __temp __preheat_abs __all]
type: disabled

[menu __main __temp __preheat_abs __hotend]
type: disabled

[menu __main __temp __preheat_abs __hotbed]
type: disabled

# Replacing default Filament submenu with my own one
[menu __main __filament __loadpla]
type: command
name: Load PLA
gcode:OC
    {menu.exit()}
    LOAD_PLA

[menu __main __filament __loadabs]
type: command
name: Load ABS
gcode:
    {menu.exit()}
    LOAD_ABS

[menu __main __filament _unloadpla]
type: command
name: Unload PLA
gcode:
    {menu.exit()}
    UNLOAD_PLA

[menu __main __filament __unloadabs]
type: command
name: Unload ABS
gcode:
    {menu.exit()}
    UNLOAD_ABS

[menu __main __temp __preheat_pla]
type: command
name: Preheat PLA
enable: {('extruder' in printer) and ('heater_bed' in printer)}
gcode:
    {menu.exit()}
    M104 S140
    M140 S60

[menu __main __temp __preheat_abs]
type: command
name: Preheat ABS
enable: {('extruder' in printer) and ('heater_bed' in printer)}
gcode:
    {menu.exit()}
    M104 S140
    M140 S100