[gcode_macro PRINT_START]
gcode:
    {% set BED = params.BED|default(0)|float %}
    {% set EXTRUDER = params.EXTRUDER|default(0)|float %}
    # Use absolute coordinates.
    G90

    FLUSH_AND_PROMPT TEXT="Heating"
    M104 S140
    M140 S{BED}
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED} MAXIMUM={BED+5}
    
    FLUSH_AND_PROMPT TEXT="Homing"
    G28 ; This will drop nozzle temperature, if necessary. 
        
    FLUSH_AND_PROMPT TEXT="QGLing"
    QUAD_GANTRY_LEVEL

    FLUSH_AND_PROMPT TEXT="Heating"
    M104 S{EXTRUDER}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER} MAXIMUM={EXTRUDER+5}
    
    FLUSH_AND_PROMPT text="Purging"
    LINE_PURGE

    M117 Off we go!


[gcode_macro PRINT_END]
gcode:
    FLUSH_AND_PROMPT text='Ending print...'
    #G92 E0                         ; zero the extruder
    #G1 E-4.0 ;F3600                 ; retract filament
    #G91                            ; relative positioning

    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    {% set park_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set park_y = printer.configfile.config["stepper_y"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 30) %}
        {% set z_safe = 30.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-15.0 F1800                 ; retract filament

    G0 Z{z_safe} F3600             ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000  ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G90                            ; absolute positioning
    G0 X{park_x} Y{park_y} F3600   ; park nozzle at rear

    # The purpose of the SAVE_GCODE_STATE/RESTORE_GCODE_STATE
    # command pair is to restore the printer's coordinate system
    # and speed settings since the commands above change them.
    # However, to prevent any accidental, unintentional toolhead
    # moves when restoring the state, explicitly set MOVE=0.
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0

    FLUSH_AND_PROMPT text=Done!


[gcode_macro PAUSE]
rename_existing: BASE_PAUSE

gcode:
    {% set X = params.X|default(0) %}
    {% set Y = params.Y|default(0) %}
    {% set Z = params.Z|default(20) %}
    {% set E = params.E|default(5) %}
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{E} F2100
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F6000


[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    {% set E = params.E|default(5) %}
    G91
    G1 E{E} F2100
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME


[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    PRINT_END
    BASE_CANCEL_PRINT